body{
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.container {
  margin: 20px auto;
  width: 700px;
  padding: 5px 20px 20px 20px;
  border: 1px dotted black;
  height: 1200px;
  }


p.title{
  text-align: center;
  font-family: 'Fascinate',  sans-serif;
  font-size: 47px;
}


div.contestants {
  float: left;
  color: #00A0A2;
  width: 40%;
  height: 40%;
  background-color: #F0F0F9;
  padding: 5% 1% 5% 1%;
  margin: 5% 4% 8% 4%;
  border-radius: 10px;
}

div.contestants.img{
  float: center;
}

#answer{
  font-size: 20px;
  color: #54A4A4;
}

a{
  text-decoration: none;
  color: #660198;
}

#choose{
  text-align: center;
  font-size: 23px;
}

#submit-answer{
  color: #00A0A2;
  border-radius: 10px;
  background-color: #F0F0F9;
  margin: 20px 0 0 0;
}

.right {
  color: green;
}
.wrong {
  color: red;
}

.hide {
  visibility: hidden;
}