.container {
  margin: 20px auto;
  width: 700px;
  padding: 5px 20px 20px 20px;
  border: 1px dotted black;
  height: 700px;
  }


p{
  text-align: center;
  font-family: Verdana,  sans-serif;
  font-size: 27px;
}

th {
  text-align: left;
}

div.contestants {
  /*display: inline;*/
  float: left;
  color: #40A070;
  width: 40%;
  height: 20%;
  background-color: #F0A0F9;
  padding: 5% 1% 5% 1%; /* percent of the container div*/
  margin: 5% 4% 5% 4%;
  border-radius: 10px;
}

#winner{
  float: left;
  padding: 13% 13% 13% 13%;
  margin: 8% 0 0 10%;
  font-size: 37px;
  color: #54A4A4;
}

/* #winner:hover{
  color: #A4A4A4;
  background-color: #EFEFEF;
}
*/